/*General*/
body{
    margin-top: 0vw;
    margin-left: 0vw;
}

a {
    text-decoration: none;
}

h1{
    font-size: 4vw;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #F0A66A;
}

h2{
    font-family: 'Courier New', Courier, monospace;
    color:#5d8ab1;
}

.avantgarde {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/*Images*/
.github {
    margin-left: 2vw;
}

/*grid*/

.grid {
    display: grid;
    grid-template-columns: 1fr 6fr;
    grid-template-rows: 0,5fr 1fr 1fr;
    grid-template-areas:'photo nom' 
                        'adresse formations' 
                        'informatique experiences' 
                        ; 
    grid-column-gap: 20px;
    grid-row-gap: 0px;
}

        /*name and title*/
.one{
    grid-area: nom;
    font-family: Helvetica;
    padding-left: 5vw;
}

        /*information*/
.two{
    grid-area: adresse;
    font-family: Helvetica;
    color: white;
    background-color:#5d8ab1;
    padding: 2vw 2vw 2vw 2vw;
}

        /*picture profil*/
.three{
    grid-area: photo;
    font-family: Helvetica;
    color: white;
    background-color:#5d8ab1;
    padding: 2vw 2vw 2vw 2vw;
}

        /*informatique*/

.threetwo {
    grid-area: informatique;
    font-family: Helvetica;
    color: white;
    background-color:#5d8ab1;
    padding: 2vw 2vw 2vw 2vw;
}

        /*formations*/
.four{
    grid-area: formations;
    font-family: Helvetica;
    padding-left: 5vw;
}

        /*xp*/
.five {
    grid-area: experiences;
    font-family: Helvetica;
    padding-left: 5vw;
}

/*hover*/

img:hover{
    width:55px;
    height:55px;
}

.orange {
    color: #F0A66A;
}