/*General*/
body{
    margin-top: 0vw;
    margin-left: 0vw;
}

a {
    text-decoration: none;
}

h1{
    color:#5d8ab1;
}

h2{
    font-family: 'Courier New', Courier, monospace;
    color:#5d8ab1;
}

.avantgarde {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/*grid*/

.grid {
    display: grid;
    grid-template-columns: 1fr 6fr;
    grid-template-rows: 10% 10% 20% 20%;
    grid-template-areas:'photo nom' 
                        'informatique formations' 
                        'adresse experiences' 
                        'adresse vides' ; 
    grid-column-gap: 20px;
    grid-row-gap: 0px;
}

.one{
    grid-area: nom;
    font-family: Helvetica;
    padding-left: 5vw;
}

.two{
    grid-area: adresse;
    font-family: Helvetica;
    color: white;
    background-color:#5d8ab1;
    padding: 2vw 2vw 2vw 2vw;
}

.three{
    grid-area: photo;
    font-family: Helvetica;
    color: white;
    background-color:#5d8ab1;
    padding: 2vw 2vw 2vw 2vw;
}

.threetwo {
    grid-area: informatique;
    font-family: Helvetica;
    color: white;
    background-color:#5d8ab1;
    padding: 2vw 2vw 2vw 2vw;
}

.four{
    grid-area: formations;
    font-family: Helvetica;
    margin-top: -130px;
    padding-left: 5vw;
}

.five {
    grid-area: experiences;
    font-family: Helvetica;
    margin-top: -420px;
    padding-left: 5vw;
}







